aadict==0.2.3
alembic==1.4.2
appdirs==1.4.4
arabic-reshaper==2.0.15
asset==0.6.13
astroid==2.2.5
autopep8==1.4.3
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
distlib==0.3.1
dnspython==1.16.0
ecdsa==0.13.2
filelock==3.0.12
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
future==0.17.1
globre==0.1.5
gunicorn==20.0.4
idna==2.8
importlib-metadata==1.7.0
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.0
Mako==1.1.2
MarkupSafe==1.1.1
mccabe==0.6.1
passwordmeter==0.1.8
pbr==5.5.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycodestyle==2.4.0
pycryptodome==3.3.1
pylint==2.3.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.6.0
python-editor==1.0.4
python-jose-cryptodome==1.3.2
pytz==2020.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.3.3
stevedore==3.2.2
typed-ast==1.3.5
urllib3==1.24.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==0.15.2
wrapt==1.11.1
WTForms==2.3.1
zipp==3.1.0
